<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" data-ng-app="app">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="utf-8">
		
		<title>CDS - Report Prototype - v<% version %></title>
		 <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
   		 <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
		<!--[if lte IE 8]>
			<script>
				document.createElement('ng-include');
				document.createElement('ng-pluralize');
				document.createElement('ng-view');
 			</script>
		<![endif]-->
	</head>
	<body data-role="main" ng-controller="appCtrl">
		<div class="content">
		<div class="" data-ng-include="'header.tpl.html'"></div>
		<div data-ng-include="'loader/loader.tpl.html'"></div>
		<div class="container view" data-ng-view=""></div>
		</div>
		<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    	<script type="text/javascript" src="<%= file %>"></script><% }); %>
	</body>
</html>