.loaderDiv
	{ display:none; position:fixed; top:0; right:0; bottom:0; left:0;
	  z-index:1100 }

.ajax-loader
	{ position:absolute; left:50%; top:8%; margin-left:-110px; display:block; 
	  background:#FFF; border:1px solid #666; padding:8px 16px; text-align:center;
	  background:#FBFBEF }
