<div class="subnav m-vert-default">
	<uL class="ovflw-auto p-reset">
		<li>
			<a 
				rel="nav-link"
				class="fl-left"
				href="#/list"
			>
				Back
			</a>
		</li>
		<li>
			<a
				rel="nav-link"
				class="fl-left"
				href="#/compare_chart"
			>
				Chart
			</a>
		</li>
		<li>
			<a 
				rel="nav-link"
				class="fl-left"
				href="#/compare_replacements"
			>
				Replacements
			</a>
		</li>
		<li>
			<a
				rel="nav-link"
				class="fl-left"
				href="#/compare_priority"
			>
				Priority
			</a>
		</li>
		<li>
			<a
				rel="nav-link"
				class="fl-left"
				href="#/compare_glossary"
			>
				Glossary
			</a>
		</li>
	</uL>
</div>

<table class="grid-1 table-static">
	<thead>
		<tr>
			<th data-ng-repeat="deal in selectedDeals">
				{{deal.name}}
			</th>
			<th data-ng-repeat="calculation in calcData.titles">
				{{calculation}}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr 
			data-ng-repeat="data in displayData"
			ng-class-odd="'odd'"
			ng-class-even="'even'"
		>
			<td data-ng-repeat="colData in data.cols track by $index">
				{{colData}}
			</td>
		</tr>
	</tbody>
</table> 

<!-- DEBUG - compareView.html 
	<div class="debug">
		<div>
			<h3>[$scope.displayData]</h3>
			<pre>{{displayData|json}}</pre>
		</div>
		<div>
			<h3>[$scope.calcData]</h3>
			<pre>{{calcData|json}}</pre>
		</div>
	</div>
<!-- /DEBUG - compareView.html -->
