<div
	class="grid-1"
	data-ng-show="deals"
	data-ng-switch="( deals | filter:filter.name ).length"
>
	<input
		id="txtFilter"
		class="grid-1-4 txt-search m-vert-default"
		type="text" data-ng-model="filter.name"
		data-ng-focus="filter.name = ''"
		placeholder="Filter" 
	/>
	<p data-ng-switch-when="0">
		No deals matching <span class="searchQuery">"{{filter.name}}"</span>.
	</p>
	<table class="table-sortable" data-ng-switch-default="">
		<colgroup>
			<col style="width: 40px;">
			<col style="width: auto;">
			<col style="width: 150px">
			<col style="width: 150px">
		</colgroup>
		<thead>
			<tr>
				<th colspan="2" data-ng-click="predicate='name'; reverse=!reverse">
					Name
					<span 
						class="fl-right"
						data-ng-class="{sort: predicate === 'name', ascending: reverse}"
					></span>
				</th>
				<th data-ng-click="predicate='issued'; reverse=!reverse">
					Issued Date
					<span 
						class="fl-right"
						data-ng-class="{sort: predicate === 'issued', ascending: reverse}"
					></span>
				</th>
				<th data-ng-click="predicate='published'; reverse=!reverse">
					Published Date
					<span 
						class="fl-right"
						data-ng-class="{sort: predicate === 'published', ascending: reverse}"
					></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr 
				data-ng-repeat="deal in deals | filter:filter.name | orderBy:predicate:reverse"
				data-ng-class-odd="'odd'"
				data-ng-class-even="'even'"
				data-ng-class="{selected: deal.selected}"
			>
				<td>
					<input 
						type="checkbox"
						name="selectedDeals"
						id="{{deal.id}}"
						value="{{deal.id}}"
						data-ng-model="deal.selected"
					/> 
				</td>
				<td>
					<label for="{{deal.id}}">
						{{deal.name}}
					</label>
				</td>
				<td>
					{{deal.issued}}
				</td>
				<td>
					{{deal.published}}
				</td>
			</tr>
		</tbody>
	</table>
	<input 
		class="btn-default fl-right m-vert-default"
		type="button"
		data-ng-click="setSelection()"
		value="Compare {{selection.length}} Deals"
		data-ng-class="{disabled: ( selection.length > sharedData.selection.max || selection.length < sharedData.selection.min ) }"
	/>
</div>
<p data-ng-hide="deals.length">There was a problem loading deal data.</p>

<!-- DEBUG - entityListView.html 
	<div class="debug">
		<div>
			<h3>[$scope.selection]</h3>
			<pre>{{selection|json}}</pre>
		</div>
		<div>
			<h3>[$scope.sharedData.deals][sharedService.sharedObj.deals]</h3>
			<pre>{{sharedData.deals|json}}</pre>
		</div>
	</div>
<!-- /DEBUG - entityListView.html -->
