<h1>Compare View Title</h1>
<div class="subnav m-vert-default">
	<uL class="nav nav-pills">
		<li>
			<a 
				rel="nav-link"
				class="fl-left"
				href="#/list"
			>
				Reset
			</a>
		</li>
		<li data-ng-class="{active: isActive('/compare/chart')}">
			<a
				rel="nav-link"
				class="fl-left"
				href="#/compare/chart"
			>
				Chart
			</a>
		</li>
		<li data-ng-class="{active: isActive('/compare/replacements')}">
			<a 
				rel="nav-link"
				class="fl-left"
				href="#/compare/replacements"
			>
				Replacements
			</a>
		</li>
		<li data-ng-class="{active: isActive('/compare/priority')}">
			<a
				rel="nav-link"
				class="fl-left"
				href="#/compare/priority"
			>
				Priority
			</a>
		</li>
		<li data-ng-class="{active: isActive('/compare/glossary')}">
			<a
				rel="nav-link"
				class="fl-left"
				href="#/compare/glossary"
			>
				Glossary
			</a>
		</li>
	</uL>
</div>

<table class="grid-1 table-static table table-striped table-bordered table-condensed table-hover">
	<thead>
		<tr>
			<th data-ng-show="responseData.map">
				Deal
			</th>
			<th data-ng-repeat="deal in sharedData.selection.group">
				{{deal.name}}
			</th>
			<th data-ng-repeat="calcs in calcData.titles">
				{{calcs}}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr 
			data-ng-repeat="data in displayData"
		>
			<td data-ng-show="responseData.map">
				{{data.name}}
			</td>
			<td data-ng-repeat="colData in data.cols track by $index">
				{{colData}}
			</td>
		</tr>
	</tbody>
</table> 

<!-- DEBUG - compareView.html 
	<div class="debug">
		<div>
			<h3>[$scope.displayData]</h3>
			<pre>{{displayData|json}}</pre>
		</div>
		<div>
			<h3>[$scope.responseData]</h3>
			<pre>{{responseData|json}}</pre>
		</div>
	</div>
<!-- /DEBUG - compareView.html -->
